html,body{
    font-family: 'Montserrat', sans-serif;
}
.topbar{
    border-top:1px solid #e5e5e5;
    border-bottom:1px solid #e5e5e5;
    background-color:#fff
}
.logo{
    border-right: 1.5px solid #e5e5e5;
}
.shopbyitem:hover , .shopbyitem:hover img {
    opacity: 0.9;
    text-decoration-line: none;
    color: white;
}
.shopbyitem{
    width: 10%;
    border: #fff;
    padding: 2px 2px 0px 0.5px;
    text-align: center;
    color: white;
    border-radius: 100px;
}
.spacefromhead{
    margin-top: 100px
}
.tagshopby{
    padding: 3px;
    background-color:#000000;
}
h4{
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
}
.header-login{
    background-color: #387dff;
    color: #e5e5e5;
}
.feat-product-text h4{
    
        margin-top: 25px;
        margin-bottom: 0px;
        text-align: center;
    
}
.shopbybrand img{
    height: 32px;
    margin-right: 20px;
    margin-left: 20px;
    
}
.filter-shopbybrand img{
    width: 6rem;
    text-align: center;
    margin: 20px;
    
}
.shopbybrand a:hover, .shopbybrand img:hover,.filter-shopbybrand a:hover, .filter-shopbybrand img:hover{
    text-decoration: none;
    opacity: 0.7;
}
.shopbybrand{
    margin-bottom: 30px;
}
.dropdown-menu{
    border: none;
}
.product-card-body a{
    text-decoration: none;
}
.card{
    border : none;
}
.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}
.item-link{
    color: #000000;
    
}
.card-navbar a:hover{
    text-decoration: none;

}
div .sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 100px;
}
.login-logo{
    margin: auto;
}
.nav-order-card .active{
    color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}
.filter-shopbybrand a{
    color: #000000;
}
.learn-more {
    list-style: none;
    line-height: 30px;
}
.heading-footer {
    font-family: "Lobster";
}

.social-footer {
    font-size: 28px;
    margin-right: 10px;
}

.sosmed-button a {
    color: #fff;
}

.sosmed-button a:hover {
    color: #0069d9;
}
.brand-budayaku {
    font-family: "Lobster";
    font-size: 1.6rem;
}